.destaques {
    background-color:#01151c38;
    height:auto;
    border:2px solid hsla(196, 93%, 6%, 0);
}

.destaques a{color:#01151c ;}
.destaques a:hover{
    color: white;
}

.destaques___titulo{
    color: #103D4A;
    font-weight: bold;
    font-size: 40px;
    text-align:center;
    padding: 30px;
}
.destaques___painel{display: flex;
align-items:center;
flex-direction: column ;
}

.destaques___painel-imagem{
    width:90%;
    box-shadow: 0 2px 10px 5px #00000020;
    margin-top:1em;
    max-height: 400px;

    
}
.destaques___painel-texto{
    color: #01151c;
    font-weight: bold;
    padding:10px;
    text-align:center;
    height:auto;
}
#centerbutton{
    text-align: center;
    width:100%;
    height:auto;
    margin-top:35px;
    margin-bottom: 35px;;
}
.destaques___botton{
  border:2px solid #01151c;
  font-size:18px;
  padding:16px;
  border-radius: 2%;
  transition-property: all;
  transition-delay: 0.2s;
  transition-duration: 0.4s;
  
}
.destaques___botton:hover{
    
    font-size:18px;
    padding:16px;
    border-radius: 2%;
    background-color: #01151c;

}

@media screen and (min-width:1000px){
    .destaques {
        background-color:#01151c38;
        height:auto;
        border:2px solid hsla(196, 93%, 6%, 0);
        
    }
    #flexparadesktopdestaques_painel{
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        gap:2px;
       
    }
    
    .destaques___painel{
    width: 100%;
    
    
    }
    
    .destaques___painel-imagem{
        width:90%;
        height: 270px;
        box-shadow: 0 2px 10px 5px #00000020;
        margin-top:1em;
    
        
    }}