/* Cores do layout
vermelho: RGB(182, 46, 46)
preto: RGB(51, 51, 51)*/


body{

}
h1{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Noto Sans', sans-serif;
 
}
ul{
margin:20px auto;
list-style-type: none;

}

li{
    display:inline;
    
}
a{ Color: white;
    text-decoration: none;
    }

.table{
    
    height: auto;
    width:50%;
    margin: auto;
    
    
}

.table tr td{ text-align: center;
border: 1px solid black;
padding:15px;}

table{
    width:100%;
}