@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
}

.header-top{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: linear-gradient(#fca400,#ca8400);
    height: 6em;
    
}
.logotipo{
    width: 30%;
}
.header-top i{
    font-size: 25px;
    padding-right: 20px;
}
.navbar{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    position:absolute;
    right:0%;
    width: 200px;
    background: linear-gradient(#ca8400,#ca83009a);
    right:-100%
    
}
.navbar a{
    padding:20px;
    font-weight: 700;
}
.navbar a i{
    padding-left: 10px;

}
.navbar--ativo{
    right:0%;
} 