.cabecalho {
    color: #FFF;
    margin: 0;
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid #103D4A;

    position: absolute;
}
.cabecalho a{
    color:white;
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}


@media screen and (min-width:1000px){
    .cabecalho {
        color: #FFF;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border:none;
        position: absolute;
        padding:20px 90px;
    }
    .cabecalho__navegacao {
        text-align: center;
        padding-top: 13px;
    }
}