body{
    display:grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns:auto;
    grid-template-rows: 100px 500px 400px ;

}
.cabecalho{
    grid-area: cabecalho;
    background: blue;
}
.conteudo{
    grid-area: conteudo;
    background:yellow;
}
.rodape{
    grid-area: rodape;
    background:purple;
}