header{
    background-color: rgba(128, 128, 128, 0.575);
    padding: 20px 10px; 
    
}

nav{
    position:absolute;
    top:-150px;
    right:0;


}

#caixa{
    width:940px;
    position: relative;
    margin:0 auto;
}

nav li{ 
    display: inline;
    margin: 0 0 0 20px;
    letter-spacing:2px;

}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition-property: all ;
    transition-duration:0.5s;


}
nav a:hover{
    color: rgb(133, 125, 20);
    
}
nav a:active{
    color: rgb(56, 52, 2);
    
}

.produtos{
/*     border: 2px solid red; */
   margin: 0 auto;
   padding:20px;
   width: 1000px;

}
.produtos li{ display: inline-block;
    margin:5px 0 5px 20px;
    text-align: center;
    width:30%;
    padding:1px;
    border:4px solid black;
    border-radius:36px;
    height: 360px;
    transition-property: all;
    transition-duration:0.1;

}
.produtos li:hover{
  
    border:4px solid rgb(133, 125, 20); 

}

.produtos h2{
    font-size:22px;
    font-weight: bold;
    margin-top: 5px;

}
.produtos p{
    margin-top: 8px;
}
.valor{
    font-weight: bold;
    font-size: 20px;
}